.app {
    padding: 5px 15px;
    color: #fff;
    min-height: 500px;
    background-color: #323232;

    h1 {
        line-height: 500px;
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        color: #fff;
    }
}

